@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--sm-font);
}

/* Button */
.bg-primary {
    background-color: var(--pink) !important;
}

/* navbar */
.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    width: 90px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    color: var(--pink) !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.prodetails .container {
    margin-top: 80px;
}

.prodetails .single-pro-img {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.footer-section {
    margin-top: 300px;
}

/* media queries */

@media(min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}